[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
cfscrape = "*"
profig = "*"
"bs4" = "*"
requests = "*"
logzero = "*"
colorama = "*"
click = "*"
clint = "*"
jieba = "*"
tqdm = "*"
lxml = "*"
"html5lib" = "*"
selenium = "*"
izen = {editable = true, path = "/Users/lihe/00Li/github/izen"}
wget = "*"
mutagen = "*"

[dev-packages]

[requires]
python_version = "3.7"
